[submodule "lib/R3.JsonConfig"]
	path = lib/R3.JsonConfig
	url = https://github.com/xm-i/R3.JsonConfig
[submodule "lib/AutoDiAttributes"]
	path = lib/AutoDiAttributes
	url = https://github.com/xm-i/AutoDiAttributes
